* {
  margin: 0px;
  font-family:'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 
}
.navbar{
  list-style: none;
  display: flex;
  padding: 10px;
  
}

.userForm{
  padding: 0px;
  
}
.userFormItem{
  padding: 0px;

}
.authpage{
  background-color: rgb(216, 221, 219);
  height: 350vh;
  width: 100vw;
  padding: 15px;
  line-height: 35px;
}
.unauthpage{
  background-color: rgb(143, 151, 197);
  line-height: 35px;
  padding: 25px;
  height: 200vh;
  text-align: center;
}
.signup{
  background-color: rgb(190,190,190);
  line-height: 30px;
  padding: 10px;
  width: 40%;
  text-align: center;
  border: 1.5px solid black;
  position: relative;
  left: 30%;
  border-radius: 10%;
  
}
.login{
  background-color: rgb(190, 190, 190);
  line-height: 30px;
  padding: 10px;
  width: 40%;
  text-align: center;
  border: 1.5px solid black;
  position: relative;
  left: 30%;
  border-radius: 10%;

}
.newpost{
  background-color: rgb(121, 153, 218);
  width: 40vw;
  margin: 1.5%;
  text-align: center;
  height: 40vh;
  border-radius: 5%;
  line-height: 30px;
  border: 1px solid black;
  position: relative;
  left: 18%;
  
}
.newpost-button{
  margin:15px;
  padding:9px;
  position: relative;
  left:35%;
  background-color: rgb(105, 105, 105);
  border-radius: 5px;
  color: white;

}
.edit{
  background-color: rgb(170, 170, 170);
  width: 35vw;
  margin: 1.5%;
  padding: 10px;
  text-align: center;
  height: 25vh;
  border-radius: 5%;
  line-height: 30px;
  border: 1px solid black;
  position: relative;
  left: 8%;
}
.list{
  list-style: none;
 }

.nav-header{
 
  background-color:rgb(151, 148, 148);
  padding:5px;
  height: 12vh;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  

}
.header{
  background-color:rgb(151, 148, 148);
  padding:4px;
  height: 12vh;
  margin: 5px;
  width: 80vw;
  text-align: center;
  
}
.new-item-page{
  background-color: aquamarine;
  height: 150vh;
}

.saleList{
  position: relative;
  left: 40%;
  font-size: 20px;
  
}
.each_post{
  width: fit-content;
  padding: 25px;
  display: block;
  
}
.item-description{
  height: 50px;
  width: 160px;
  
}
.description-field{
  height: 70px;
  width: 190px;
 
}
.nav-item{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: black;
  padding: 15px;

}
.nav-item:focus{
  color:rgb(255, 255, 255);
  background-color: black;

}
.logout-button{
  height: 48px;
  width: 80px;
  background-color: rgb(0, 0, 0);
  color:rgb(221, 221, 221);
  border-radius: 15px;
  font-family:sans-serif;
  margin: 10px;
  
  }
.unauth-header{
  background-color:rgb(118, 133, 230);
  padding:1px;
  height: 6vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.fav-list{
  background-color: rgb(181, 204, 204);
  height: 150vh;
  text-align: center;
  padding: 10px;

}
.about{
  text-align: center;
  border: 1px solid gray;
  height: 150vh;
 
  padding: 10px;
  line-height: 30px;
  background-color: rgb(250, 226, 175);
  

}
.text{
 
  border: 1px solid black;
  width: 65%;
  margin-top: 10px;
  padding: 10px;
  line-height: 30px;
  background-color: rgb(216, 206, 206);
  margin-left: 18%;

}
.unauth-button{
  background-color: rgb(42, 56, 82);
  color:azure;
  border-radius: 5px;
  border:.5px solid black;
  height: 27px;
  font-family: sans-serif;

 
}
.add-btn{
  border-radius: 7px;
  background-color: rgb(115, 115, 117);
  color: white;
  margin: 3px;
  padding: 5px;
  font-family: sans-serif;

}
.each-post-btn{
  border-radius: 7px;
  background-color: rgb(115, 115, 117);
  color: white;
  margin: 3px;
  padding: 5px;
  font-family: sans-serif;
 
}