* {
  margin: 0px;
  font-family:'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 
}
.navbar{
  list-style: none;
  display: flex;
  padding: 8px;

  width:100vw;
  /* border: 1px solid black; */
    
}
.nav-header{
 
  background-color:rgb(156, 155, 155);
  height: fit-content;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
  
  
}
.nav-item{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin-left:150px;
  font-weight: bold;
  color: black;
  padding: 22px;
  font-size: 18px;
  /* border: 1px solid black; */

}
.nav-item:focus{
  color:rgb(255, 255, 255);
  background-color: black;

}

.userForm{
  padding: 0px;
  
}
.userFormItem{
  padding: 0px;

}
.authpage{
  background-color: rgb(216, 221, 219);
  height: fit-content;
  width: 100vw;
  padding: 15px;
  line-height: 35px;

}
.unauthpage{
  background-color: rgb(143, 151, 197);
  line-height: 35px;
  padding: 25px;
  height: 200vh;
  text-align: center;
}
.signup{
  background-color: rgb(190,190,190);
  line-height: 30px;
  padding: 10px;
  width: 40%;
  text-align: center;
  border: 1.5px solid black;
  position: relative;
  left: 30%;
  border-radius: 10%;
  
}
.login{
  background-color: rgb(190, 190, 190);
  line-height: 30px;
  padding: 10px;
  width: 40%;
  text-align: center;
  border: 1.5px solid black;
  position: relative;
  left: 30%;
  border-radius: 10%;

}


.edit{
  background-color: rgb(170, 170, 170);
  width: 35vw;
  margin: 1.5%;
  padding: 10px;
  text-align: center;
  height: 25vh;
  border-radius: 5%;
  line-height: 30px;
  border: 1px solid black;
  position: relative;
  left: 8%;
}
.list{
  list-style: none;
 }


.header{
  background-color:rgb(151, 148, 148);
  padding:5px;
  height: fit-content;
  margin-left: 19%;
 
  
  width: 60vw;
  text-align: center;
  
}
.new-item-page{
   background-color: rgb(95, 99, 121);
  height: 100vh;
 

  display: flex ;
  justify-content: center;
 
 
}
.newpost{
  background-color: rgb(121, 153, 218);
  width: fit-content;
  padding:45px;
  text-align: center;
  height: fit-content;
  border-radius: 20px;
  line-height: 30px;
  margin: 20px;
 
  
}

.saleList{
  position: relative;
  left: 40%;
  font-size: 20px;
  
}

.each_post{
  width: 50vw;
  padding: 8px;
  text-align: center;
  border: 1px solid black;
  margin-left: 24vw;
  
}
.bottom-line{
  width: 40vw;
}

.item-description{
  height: 50px;
  width: 160px;
  
}
.description-field{
  height: 70px;
  width: 190px;
 
}

.logout-button{
  height: 50px;
  width: 85px;
  background-color: rgb(56, 55, 55);
  color:rgb(221, 221, 221);
  border-radius: 10px;

  margin: 15px;
  margin-right: 140px;
  padding:14px;
 
  
  }
.unauth-header{
  background-color:rgb(118, 133, 230);
  padding:1px;
  height: fit-content;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.fav-list{
  background-color: rgb(181, 204, 204);
  height: 150vh;
  text-align: center;
  padding: 10px;

}
.about{
  text-align: center;
  height: 160vh;
  padding: 25px;
  line-height: 40px;
  background-color: rgb(250, 226, 175);
  

}
.text{
 
  /* border: 1px solid black; */
  border-radius: 12px;
  width: 70%;
  margin-top: 10px;
  padding: 15px;
  line-height: 35px;
  background-color: rgb(216, 206, 206);
  margin-left: 18%;
  height: fit-content;

}
.unauth-button{
  background-color: rgb(42, 56, 82);
  color:azure;
  border-radius: 5px;
  border:.5px solid black;
  height: 27px;
  font-family: sans-serif;

 
}
.add-home-btn{
  border-radius: 7px;
  background-color: rgb(115, 115, 117);
  color: white;
  margin: 3px;
  padding: 5px;
  font-family: sans-serif;

}

.each-post-btn{
  border-radius: 7px;
  background-color: rgb(117, 117, 117);
  color: white;
  margin: 3px;
  padding: 5px;
  font-family: sans-serif;
 
}

.filter-buttons{
 
  
  padding: 2px;
 border-left:30%;

}
.filter{
  border-radius: 7px;
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  margin-left: 44%;
  padding: 6px;
  font-family: sans-serif;


}
.filter-alpha{
  border-radius: 7px;
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  margin-left: 46%;
  padding: 6px;
  font-family: sans-serif;


}
.filter-button:active{
  background-color: rgb(126, 126, 126);

}
